<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zxbro.store.keeper.infrastructure.event.mapper.EventAssignMapper">
    <sql id="columns">
        tenant_id,event_no,assign_to_user_no,event_user_state,created_by,created_time,updated_by,updated_time
    </sql>
    <insert id="insert" parameterType="org.zxbro.store.keeper.infrastructure.event.mapper.model.EventAssignPO">
        insert into event_assign(<include refid="columns"></include>)
        values
        <foreach collection="eventAssigns" item="eventAssign" separator=",">
        (
            #{eventAssign.tenantId}, #{eventAssign.eventNo},#{eventAssign.assignToUserNo},#{eventAssign.eventUserState},
            #{eventAssign.createdBy},#{eventAssign.createdTime},#{eventAssign.updatedBy},#{eventAssign.updatedTime}
        )
        </foreach>

    </insert>

    <select id="selectByUserNo" resultType="org.zxbro.store.keeper.infrastructure.event.mapper.model.EventAssignPO">
        select <include refid="columns"></include>
        from event_assign
        where tenant_id = #{tenantId} and assign_to_user_no = #{userNo}
    </select>

    <delete id="deleteById">
        delete from event_assign
        where tenant_id=#{tenantId} and assign_to_user_no = #{userNo} and event_no = #{eventNo}
    </delete>
</mapper>